{
  "plugins": [
    "react-hot-loader/babel",
    ["lodash", { "id": ["lodash", "recompose", "semantic-ui-react"] }]
  ],
  "presets": [
    ["env", {"modules": false}],
    "react"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
